<a href="https://colab.research.google.com/github/RuanG85/Tecnicas-de-Desenvolvimento-de-Algoritimo---ADS/blob/main/Aula_de_program%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nome:** Ruan Gabriel O. Santos

## **Turma:** N2

## **Disciplina:** ADS_Tecnicas de desenvolvimento de algoritmos

![python imagem.jpg]()

In [ ]:
'''
❑ Introdução
❑ Listas
❑ Exemplos e Exercı́cios
'''
print ()

In [ ]:
'''
● Uma lista em Python é uma estrutura que armazena vários dados,
que podem ser de um mesmo tipo ou não.
● Uma lista é criada como a construção: [dado1,dado2,...,dadon]

'''

In [ ]:
lista1 = [10, 20, 30, 40]
lista2 = ["programação", "UDF", "python"]
lista3 = ["oi", 2.0, 5, [10, 20]]
print(lista1)
print(lista2)
print(lista3)

[10, 20, 30, 40]
['programação', 'UDF', 'python']
['oi', 2.0, 5, [10, 20]]

In [ ]:
nota1 = float(input("Entre com a nota 1: "))
nota2 = float(input("Entre com a nota 2: "))
nota3 = float(input("Entre com a nota 3: "))

In [ ]:
identificador = [dado1,dado2,...,dadon]
notas = [8.0, 5.5, 9.3, 7.6, 3.1]

In [ ]:
notas = [8.0, 5.5, 9.3, 7.6, 3.1]
print(notas[0])
print(notas[1])
print(notas[2])
print(notas[3])
print(notas[4])

8.0
5.5
9.3
7.6
3.1

In [ ]:
notas = [8.0, 5.5, 9.3, 7.6, 3.1]
print(notas[0]+2)
10.0
notas[3] = 0.5
print(notas)
[8.0, 5.5, 9.3, 0.5, 3.1]

10.0
[8.0, 5.5, 9.3, 0.5, 3.1]

[8.0, 5.5, 9.3, 0.5, 3.1]

In [ ]:
notas = [8.0, 5.5, 9.3, 0.5, 3.1]
for i in range(5):
  print(notas[i])

8.0
5.5
9.3
0.5
3.1

In [ ]:
#slicing
notas = [8.0, 5.5, 9.3, 0.5, 3.1]
print(notas[1:4])

[5.5, 9.3, 0.5]

In [ ]:
frutas = ["maçã", "pera", "uva"]
print (frutas)
frutas.append("laranja")
print (frutas)

['maçã', 'pera', 'uva']
['maçã', 'pera', 'uva', 'laranja']

## Aplicações com Listas, Tuplas e Dicionários.

In [ ]:
alunos_db = [
    {"matrícula": "2023001", "nome": "Ruan Santos", "curso": "Sistema de Informação"},
    {"matrícula": "2023002", "nome": "Talis Oliveira ", "curso": "Engenharia de software"},
    {"matrícula": "2023003", "nome": "Samuel Gomes", "curso": "Ciência de Dados"}
]

print ("1. Sistema simplificado de cadastro de alunos")
print ("-" * 40)

#1. Adicionar novo aluno (CREATE)
print ("-> Adicionar novo aluno")
novo_aluno = {"matrícula": "2023004", "nome": "Mikon Silva", "curso": "Engenharia Civil"}
alunos_db.append(novo_aluno) #Adiciona o dicionário (novo_aluno) ao final da lista (aluno_db).
print(f"Aluno {novo_aluno['nome']} adicionado com sucesso!")

matricula_busca = "2023002"

aluno_encontrado = next((aluno for aluno in alunos_db if aluno["matrícula"] == matricula_busca), None)

if aluno_encontrado:
    print(f"\nAluno encontrado (matrícula: {matricula_busca}):")
    print(f"Nome: {aluno_encontrado['nome']}, Curso: {aluno_encontrado['curso']}")
else:
    print(f"\nAluno com matrícula {matricula_busca} não encontrado.")

matricula_update = "2023003"
for aluno in alunos_db:
    if aluno["matrícula"] == matricula_update:
        aluno["curso"] = "Engenharia de Software" #dicionários sao mutaveis
        print(f"\ncurso do aluno {aluno['nome']} atualizado para: {aluno['curso']}")
        break

    print("-" * 40)

1. Sistema simplificado de cadastro de alunos
----------------------------------------
-> Adicionar novo aluno
Aluno Mikon Silva adicionado com sucesso!

Aluno encontrado (matrícula: 2023002):
Nome: Talis Oliveira , Curso: Engenharia de software
----------------------------------------
----------------------------------------

curso do aluno Samuel Gomes atualizado para: Engenharia de Software

In [ ]:
# Step 1: Define data structures for teams and pots

# We'll use a list of dictionaries to store information about each team.
# In a real scenario, this data would come from FIFA rankings and qualification.
# For this simulation, we'll use a simplified example.

# Define the teams with their names and confederations.
# In a real draw, teams would be assigned to pots based on rankings.
# Here, we'll manually assign them to example pots for demonstration.

# Example structure for a team: {'name': 'Team Name', 'confederation': 'Confederation', 'pot': 1}

# Create example lists to represent the pots.
# Each pot will contain a list of dictionaries, where each dictionary represents a team.
pot1 = [
    {'name': 'Brazil', 'confederation': 'CONMEBOL'},
    {'name': 'Argentina', 'confederation': 'CONMEBOL'},
    {'name': 'France', 'confederation': 'UEFA'},
    {'name': 'England', 'confederation': 'UEFA'},
    {'name': 'Spain', 'confederation': 'UEFA'},
    {'name': 'Germany', 'confederation': 'UEFA'},
    {'name': 'Portugal', 'confederation': 'UEFA'},
    {'name': 'Belgium', 'confederation': 'UEFA'}
]

pot2 = [
    {'name': 'Netherlands', 'confederation': 'UEFA'},
    {'name': 'Croatia', 'confederation': 'UEFA'},
    {'name': 'Mexico', 'confederation': 'CONCACAF'},
    {'name': 'USA', 'confederation': 'CONCACAF'},
    {'name': 'Uruguay', 'confederation': 'CONMEBOL'},
    {'name': 'Colombia', 'confederation': 'CONMEBOL'},
    {'name': 'Senegal', 'confederation': 'CAF'},
    {'name': 'Morocco', 'confederation': 'CAF'}
]

pot3 = [
    {'name': 'Japan', 'confederation': 'AFC'},
    {'name': 'South Korea', 'confederation': 'AFC'},
    {'name': 'Iran', 'confederation': 'AFC'},
    {'name': 'Serbia', 'confederation': 'UEFA'},
    {'name': 'Poland', 'confederation': 'UEFA'},
    {'name': 'Switzerland', 'confederation': 'UEFA'},
    {'name': 'Tunisia', 'confederation': 'CAF'},
    {'name': 'Algeria', 'confederation': 'CAF'}
]

pot4 = [
    {'name': 'Australia', 'confederation': 'AFC'},
    {'name': 'Saudi Arabia', 'confederation': 'AFC'},
    {'name': 'Ecuador', 'confederation': 'CONMEBOL'},
    {'name': 'Paraguay', 'confederation': 'CONMEBOL'},
    {'name': 'Ghana', 'confederation': 'CAF'},
    {'name': 'Cameroon', 'confederation': 'CAF'},
    {'name': 'Canada', 'confederation': 'CONCACAF'},
    {'name': 'Costa Rica', 'confederation': 'CONCACAF'}
]

# We'll store the pots in a tuple since the number of pots is fixed.
all_pots = (pot1, pot2, pot3, pot4)

# We'll use a dictionary to store the groups. The keys will be the group names (e.g., 'Group A'),
# and the values will be lists of teams in that group.
groups = {
    'Group A': [], 'Group B': [], 'Group C': [], 'Group D': [],
    'Group E': [], 'Group F': [], 'Group G': [], 'Group H': []
}

# We'll also need a way to keep track of which confederations are already in each group
# to enforce the rule that teams from the same confederation (except UEFA) cannot be in the same group.
group_confederations = {
    'Group A': [], 'Group B': [], 'Group C': [], 'Group D': [],
    'Group E': [], 'Group F': [], 'Group G': [], 'Group H': []
}

print("Data structures for teams, pots, and groups initialized.")

Data structures for teams, pots, and groups initialized.